@charset "UTF-8";
:root{
	--white-color: white;
	--black-color: black;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

.container{
	position: relative;
  	height: 100vh;
  	display: grid;
  	align-items: center;
}

.login_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}