<!-- dashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/Assets/Admin/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <title>Dashboard</title>
    <th:block th:replace="fragments/header :: header"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="app sidebar-mini rtl">

<div th:replace="fragments/sidebar :: sidebar"></div>

<main class="app-content">
    <div class="row">   
    <div class="col-md-12">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
    </div>
</div>
<div class="row">
    <!--Left-->
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <!-- col-6 -->
            <div class="col-md-4">
                <div class="widget-small info coloured-icon">
                    <i class='icon bx bxs-data fa-3x'></i>
                    <div class="info">
                        <h4>Tổng sản phẩm tồn kho</h4>
                        <p><b th:text="${bookCount} + ' sản phẩm'"></b></p>
                        <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
                    </div>
                </div>
            </div>
            <!-- col-6 -->
            <div class="col-md-4">
                <div class="widget-small warning coloured-icon">
                    <i class='icon bx bxs-user fa-3x'></i>
                    <div class="info">
                        <h4>Sắp hết hàng</h4>
                        <p><b th:text="${low} + ' sản phẩm'"></b></p>
                        <p class="info-tong">Số sản phẩm cảnh báo có số lượng dưới 50.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget-small danger coloured-icon">
                    <i class='icon bx bxs-error-alt fa-3x'></i>
                    <div class="info">
                        <h4>Hết hàng</h4>
                        <p><b th:text="${out} + ' sản phẩm'">40</b></p>
                        <p class="info-tong">Số sản phẩm cảnh báo có số lượng bằng 0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12">
    	<div class="row">
	    	<div class="chart-container col-md-5 col-lg-5">
		        <canvas id="categoryChart"></canvas>
		    </div> 
    	</div>      
	</div>

<!-- <script th:src="@{/Scripts/chart.min.js}"></script> -->

<script th:inline="javascript">
        /*<![CDATA[*/
        const labels = /*[[${labelCat}]]*/ [];
        const data = /*[[${countCat}]]*/ [];
        function getRandomColor() {
            const r = Math.floor(Math.random() * 256);
            const g = Math.floor(Math.random() * 256);
            const b = Math.floor(Math.random() * 256);
            return `rgba(${r}, ${g}, ${b}, 0.7)`;
        }
        const backgroundColors = labels.map(() => getRandomColor());
        const ctx = document.getElementById('categoryChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Số sách',
                    data: data,
                    backgroundColor: backgroundColors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Thống kê số lượng sách mỗi thể loại'
                    }
                }
            }
        });
        /*]]>*/
    </script>

<style>
    .tile {
        height: 400px;
        overflow: auto;
    }
    .chart-container {
        width: 300px;
    }
</style>

</main>

<div th:replace="fragments/script :: scripts"></div>

</body>
</html>
