<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="navbar">
    	<header class='header'>
			<a href='#' class='logo'>
				Hoàng Duy
				<span>An</span>
			</a>
			<nav class='navbar'>
            	<a href='/' id='active'>Home</a>
            	<a href='/bmi'>BMI</a>
            	<a href='#services'>Services</a>
            	<a href='#contact'>Contact</a>
        	</nav>
		</header>
	</div>

	<div th:fragment="footer">
    	<footer class="footer">
        	<p>&copy; 2025 Copyright by Duy An</p>
    	</footer>
	</div>

	
</body>
</html>