<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="header">
		<p class="m-0">Hoàng Duy An</p>
	</div>

	<!-- NavBar -->
	<div th:fragment="navbar" class="d-flex flex-column blur shadow p-3 col-md-2">
		<img src="logo.png" class="mb-3">
		<div class="list-group fs-5">
			<a href="#" class="list-group-item list-group-item-action text-light" style = "background: transparent" aria-current="true">Dashboard</a>
			<a href="#" class="list-group-item list-group-item-action text-light" style = "background: transparent">Page-List</a>
			<a href="#" class="list-group-item list-group-item-action text-light" style = "background: transparent">Page-Addnew</a>
			<a href="#" class="list-group-item list-group-item-action text-light" style = "background: transparent">Post-List</a>
			<a href="#" class="list-group-item list-group-item-action text-light" style = "background: transparent">Post-Addnew</a>
		</div>
	</div>
	
	<!-- FOOTER -->
	<div th:fragment="footer">
		<footer class="container-fluid bg-dark text-center">
	        <span class="text-white">&copy; 2025 by Hoàng Duy An - FIT.NTU.</span>
	    </footer>
	</div>
</body>
</html>